# Do not commit any package.json files as those will break the Babel configuration (see .babelrc or babel.config.js) and therefore break our Jest tests.
# package.json files trump the Babel configs
package.json